// colors
$appBg: #ffffff;
$appBg1: #eeeeee;
$appBg2: #358698;
$appColor: #979797;
$appColor2: #026fc2;

// box shadow
$appBoxShadow: 0 2px 4px rgba(0, 0, 0, .05);
$appBoxShadow2: 0 40px 80px rgba(0, 0, 0, .1);
