// colors
$appBg: #ffffff;
$appBg1: #eeeeee;
$appBg2: #358698;
$appColor: #979797;
$appColor2: #026fc2;

// box shadow
$appBoxShadow: 0 2px 4px rgba(0, 0, 0, .05);
$appBoxShadow2: 0 40px 80px rgba(0, 0, 0, .1);

//transition
$trEase03: .3s ease-in-out;
$trEase06: .6s ease-in-out;
$trEase1: 1s ease-in-out;
